/*表单里，CheckBox，Radio等的布局*/
.form-group-item {
    display: inline-block;
}

    .form-group-item label {
        display: inline-block;
        vertical-align: middle;
        padding-top: 6px;
        color: #333;
        font-weight: normal;
    }

    .form-group-item input[type="checkbox"], .form-group-item input[type="radio"] {
        display: inline-block;
        vertical-align: middle;
    }

/*解决ZUI与UNIFORM表单radio冲突*/
.form-horizontal .form-group-item div.radio {
    padding-top: 0px;
}
