<div id="dlgSysUser" style="width:600px; height:515px; display: none; padding-top: 25px">
    <form id="fmSysUser" method="post" class="form-horizontal" role="form" action="@Url.Action("Edit", "Product", new { Area = "BaseSystem" })">
        @{
            var width = 180 + "px";
            var easyWidth = 190 + "px"; ;
        }
        <table border="0" cellpadding="0" cellspacing="0" class="frm-table">
            <tr>
                <th>
                    用户名<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Name" id="Name" class="required" type="text" style="width:@width" value="" />
                </td>
                <th>
                    姓名<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="FullName" id="FullName" class="required" type="text" style="width:@width" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    登录密码<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Password" id="Password" class="" type="password" style="width:@width" value="" />
                </td>
                <th>
                    密码确认<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="PasswordConfirm" id="PasswordConfirm" class="placeholder corresponding:Password" type="password" style="width:@width" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="RoleNameId">所属角色：</label>
                </th>
                <td colspan="3">
                    <input type="text" id="SysUserRoleIDs" name="RoleIDs" style="width:470px" />
                </td>
            </tr>
            <tr>
                <th>
                    移动电话：
                </th>
                <td>
                    <input name="MobilePhone" id="MobilePhone" class="" type="text" style="width:@width" value="" />
                </td>
                <th>
                    办公电话：
                </th>
                <td>
                    <input name="OfficePhone" id="OfficePhone" type="text" style="width:@width" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    家里电话：
                </th>
                <td>
                    <input name="HomePhone" id="HomePhone" type="text" style="width:@width" value="" />
                </td>
                <th>
                    电子邮箱：
                </th>
                <td>
                    <input name="Email" id="Email" class="email" type="text" style="width:@width" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    身份证号：
                </th>
                <td>
                    <input name="IdentityCard" id="IdentityCard" class="" type="text" style="width:@width" value="" />
                </td>
                <th>
                    家庭住址：
                </th>
                <td>
                    <input name="Address" id="Address" class="" type="text" style="width:@width" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    有效性：
                </th>
                <td colspan="3">
                    <input type="checkbox" id="IsEnabledCheck" checked="checked" style="vertical-align: middle; margin: auto" />
                    <label for="IsEnabledCheck" style="vertical-align: middle;">禁用</label>
                    <label style="vertical-align: middle; color: red;">注意：勾选后将不能登录系统。</label>
                    <input type="checkbox" id="SuperAdmin" checked="checked" style="vertical-align: middle; margin: auto" />
                    <label for="SuperAdmin" style="vertical-align: middle;">超级管理员</label>
                    <label style="vertical-align: middle; color: red;">拥有全部权限</label>
                </td>
            </tr>
            <tr>
                <th>
                    说明：
                </th>
                <td colspan="3">
                    <textarea name="Remark" id="Remark" maxlength="200" class="txtArea" type="text" rows="7" style="width:465px;height:80px;"></textarea>
                </td>
            </tr>
        </table>
        <input type="hidden" id="SysUserID" name="ID" value="" />
        <input type="hidden" id="IsExpire" name="IsExpire" value="" />
        <input type="hidden" id="IsSuperAdmin" name="IsSuperAdmin" value="" />
    </form>
</div>