<div id="dlgFunction" style="width: 445px; height:550px; padding-top: 25px" class="easyui-dialog"
     data-options="title: '新增操作员',modal:true, closed:true,buttons :[{ text: '保存' ,  handler:PlugFunctions.System.SysUserRole.auth.save},
     { text :'取消' ,   handler: function () { $('#dlgFunction').dialog('close');
     }
     }]">

    <div style="margin-left: 20px; overflow-y: auto;">
        <div style="padding-top: 5px;">
            <ul id="treeMain"></ul>
        </div>
    </div>
</div>

