<div id="dlgSmallClass" style="width: 450px; height:340px; display: none; padding-top: 25px">
    <form id="fmSmallClass" method="post" class="form-horizontal" role="form" action="@Url.Action("Edit", "Product", new { Area = "BaseSystem" })">

        @{
            var width = 270 + "px";
        }
        <table border="0" cellpadding="0" cellspacing="0" class="frm-table">
            <tr>
                <th style="width: 120px;">
                    <label for="BigNameInfo">所属分类：</label>
                </th>
                <td>
                    <span id="BigNameInfo"></span>
                    <input type="hidden" id="CategoryTypeId" class="required" name="CategoryTypeId" style="width:@width" />
                    <input type="hidden" id="BelongBigName" class="required" name="BigName" style="width:@width" />
                </td>
            </tr>

            <tr>
                <th style="width: 100px;">
                    <label for="BigName">父分类项：</label>
                </th>
                <td>
                    <input type="text" id="ParentId" class="required" name="ParentId" style="width:@width" />
                </td>
            </tr>

            <tr>
                <th style="width: 100px;">
                    <label for="Code">编号：</label>
                </th>
                <td>
                    <input type="text" id="ItemCode" class="required" name="Code" placeholder="编号" style="width:@width" />
                </td>
            </tr>

            <tr>
                <th style="width: 100px;">
                    <label for="Content">值：</label>
                </th>
                <td>
                    <input type="text" id="Content" class="required" name="Content" placeholder="分类项名称" style="width:@width" />
                </td>
            </tr>

            <tr>
                <th>
                    <label for="ItemSort">排序：</label>
                </th>
                <td>
                    <input type="text" id="ItemSort" class="easyui-numberbox required" name="Sort" placeholder="分类类型排序" style="width:@width" />
                </td>
            </tr>
        </table>
        <input type="hidden" name="Id" id="ItemId" />
    </form>
</div>


<!--BEGIN 添加和编辑的表单 -->
<div id="itemDlg" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1" data-backdrop="static" data-width="400" data-draggable="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="responsive-content-item">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">插件</h4>
            </div>
            <div class="modal-body">
                @* form-row-seperated*@
                <form class="form-horizontal" role="form" method="post" id="fmItem">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        输入信息有误，请检查后重试。
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-close="alert"></button>
                        输入验证成功!
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label required">分类名称</label>
                        <div class="col-md-4">
                            <input name="Name" class="form-control required" type="text" id="Name" value="" />
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label required">分类编号</label>
                        <div class="col-md-4">
                            <input name="Code" class="form-control required" type="text" id="Code" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label required">排序</label>
                        <div class="col-md-4">
                            <input name="Sort" class="form-control required" type="text" id="Sort" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label required">参数描述</label>
                        <div class="col-md-8">
                            <textarea name="Description" class="form-control required" rows="6" id="Description"></textarea>
                        </div>
                    </div>
                    <input type="hidden" id="Id" name="Id" value="" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" onclick="SysCategory.Save();">保存</button>
                <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
            </div>
        </div>
    </div>
</div>
<!--END 添加和编辑的表单e -->
