/* DEFAULTS
----------------------------------------------------------*/

body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: -21px 0px 0px 0px;
    padding: 0px;
    font-family: 微软雅黑;
}

#header
{
    background-image: url(../Images/HeaderBackground.png);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
}

#imgBack
{
    margin-left: 20px;
    margin-top: 10px;
    height: 27px;
    float: left;
}

#header h1
{
    height: 100%;
    text-align: center;
    font-size: 27px;
    color: White;
    line-height: 50px;
}

li
{
    list-style-type: none;
    line-height: 40px;
    color: #606060;
    font-size: 22px;
    font-family: 微软雅黑;
}

#line
{
    height: 2px;
    background-color: #f2781e;
    position: absolute;
    width: 100%;
    bottom: 66px;
}

#content ul
{
    margin-left: -20px;
}

#content li
{
    font-size:18px;
}

#learningContent img
{
        max-width:330px;
    }
