/* DEFAULTS
----------------------------------------------------------*/

body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: -21px 0px 0px 0px;
    padding: 0px;
    font-family: 微软雅黑;
}

#header
{
    background-image: url(../Images/HeaderBackground.png);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
}

#imgBack
{
    margin-left: 20px;
    margin-top: 10px;
    height: 27px;
    float: left;
}

#header h1
{
    height: 100%;
    text-align: center;
    font-size: 27px;
    color: White;
    line-height: 50px;
}

#line
{
    margin-top: 50px;
    height: 2px;
    background-color: #f2781e;
    position: absolute;
    width: 100%;
    bottom: 66px;
}

.listSpan
{
    height: 1px;
    background-color: #BDBDBD;
}

#footer
{
    height: 66px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#footer input
{
    width: 45%;
    height: 55px;
    background-color: #ed6d1c;
    font-family: 微软雅黑;
    font-size: 20px;
    color: white;
    margin: 5px;
}

li
{
    list-style-type: none;
}

tr
{
    vertical-align: middle;
    height: 80px;
}

.firstLi
{
    color: #606060;
    font-size: 20px;
    font-family: 微软雅黑;
    margin-left: 5%;
    margin-bottom: 10px;
}
.linkLi
{
    color: #2E64FE;
    font-size: 20px;
    font-family: 微软雅黑;
    margin-left: 5%;
    margin-bottom: 10px;
}

.twoLi
{
    color: #6E6E6E;
    font-size: 18px;
    margin-left: 5%;
}

#imgAdd
{
    margin-right: 20px;
    margin-top: 10px;
    height: 27px;
    float: right;
}
