body {
}

.clearfix {
    *zoom: 1;
}

    .clearfix:before, .clearfix:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .clearfix:after {
        clear: both;
    }


.row {
    margin-left: -20px;
    *zoom: 1;
}

    .row:before, .row:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .row:after {
        clear: both;
    }

    .row:before, .row:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .row:after {
        clear: both;
    }

/*[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}*/

.span4 {
    display: inline-block;
    width: 230px;
    border: 2px solid #ffffff;
    padding-left: 10px;
}

    .span4:hover {
        border: 2px solid #d2691e;
        cursor: pointer;
    }


    .span4 [class^="icon-"] {
        font-size: 24px;
        vertical-align: middle;
    }
