<!--BEGIN 添加和编辑的表单 -->
<div id="functionDlg" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1" data-backdrop="static" data-width="400" data-draggable="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="function-content">
            <div class="modal-body">
                <div class="form-body">
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Portlet1
                            </div>
                            <div class="actions">
                                <a href="#" class="btn btn-default btn-sm">
                                    <i class="fa fa-pencil"></i>Edit </a>
                                <a href="#" class="btn btn-default btn-sm">
                                    <i class="fa fa-plus"></i>Add </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="treeFunction">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" onclick="SysRoles.Save();">保存</button>
                <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
            </div>
        </div>
    </div>
</div>
<!--END 添加和编辑的表单e -->
