<?xml version="1.0" encoding="utf-8"?>
<connectionStrings >
  <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=NoRain;User ID=sa;Password=Sa123456" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=NoRain.Rights;User ID=sa;Password=Sa123456" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=qds127373436.my3w.com;Initial Catalog=qds127373436_db;User ID=qds127373436;Password=Sa123456" providerName="System.Data.SqlClient" />
</connectionStrings>