<div id="dlgChoice" style="width: 500px; height: 430px; display: none; padding-top: 5px">
    <form id="fmChoice" style="margin: 0px auto;">
        @{
            var width = 220;
            var easyWidth = 222;
        }
        <table border="0" cellpadding="0" cellspacing="0" class="frm-table">
            <tr>
                <th>
                    题目<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Title" id="Title" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    答案A<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="ChoiceA" id="ChoiceA" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    答案B<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="ChoiceB" id="ChoiceB" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    答案C<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="ChoiceC" id="ChoiceC" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    答案<span class="label-necessary">*</span>：
                </th>
                <td>
                    <select name="Answer" id="ChoiceAnswer" class="easyui-combobox required" style="width: 344px">
                         <option value="0"></option>
                         <option value="1">A</option>
                         <option value="2">B</option>
                         <option value="3">C</option>
                    </select>
                    
                </td>
            </tr>
            <tr>
                <th>
                    分数<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Score" id="ChoiceScore" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    计时<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="AnswerTime" id="ChoiceAnswerTime" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                   顺序<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Seq" id="ChoiceSeq" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="ChoiceID" name="ID" value="" />
        <input type="hidden" id="CorpCode" name="CorpCode" value="" />
        <input type="hidden" id="FileId" name="FileId" value="" />
    </form>
</div>
