
<div id="tt" class="easyui-tabs" style="width:500px;height:370px;">
    <div title="基本信息" style="padding:20px;">
    <form id="fm" style="margin: 0px auto;">
            @{
                var width = 220;
                var easyWidth = 222;
            }
            <table border="0" cellpadding="0" cellspacing="0" class="frm-table">
                <tr>
                    <th>
                        主题<span class="label-necessary">*</span>：
                    </th>
                    <td>
                        <input name="Title" id="Title" class="required" type="text" style="width: 90%" value="" />
                    </td>
                </tr>
                <tr>
                    <th>
                        类型<span class="label-necessary">*</span>：
                    </th>
                    <td>
                        <select name="Type" id="Type" class="easyui-combobox required" style="width: 320px">
                             <option value="1">规章制度</option>
                             <option value="2">商品资料</option>
                             <option value="3">市场资料</option>  
                        </select>
                    
                    </td>
                </tr>
                <tr>
                    <th>
                        描述<span class="label-necessary">*</span>：
                    </th>
                    <td>
                        <input name="Detail" id="Detail" class="required" type="text" style="width: 90%" value="" />
                    </td>
                </tr>
               <tr>
                   <th>
                       是否具有有效期<span class="label-necessary">*</span>
                   </th>
                   <td>
                       <input name="HasValidateTime" id="HasValidateTime" type="checkbox" value="" />
                   </td>
               </tr>
                <tr style="display:none" id="validateTime">
                    <th>
                        试题有效时间<span class="label-necessary">*</span>：
                    </th>
                    <td>
                        <span class="search-condition-box"><input name="BeginTime" id="BeginTime" class="Wdate" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'ExpiredTime\')}'})" type="text" style="width: 140px;height: 22px;" value="" /></span>
                        <span class="search-condition-box">~</span>
                        <span class="search-condition-box">
                            <input id="ExpiredTime" name="ExpiredTime" type="text" class="Wdate" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'BeginTime\')}'})" style="width: 140px;height: 22px;" />
                        </span>
                    </td>
                </tr>
                <tr>
                   <th>
                      学习资料：
                   </th>
                   <td>
                       <input name="Study" id="Study" class="easyui-combobox" type="text" style="width: 320px" />
                   </td>
                </tr>
                <tr>
                    <th>
                        附件上传：
                    </th>
                    <td>
                        <a id="btnChooseFile" class="btn-chooseFile">
                            附件上传
                           <input style="opacity: 0; width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;" type="file" id="input-file" name="input-file" onchange="$('#spanFileName').html($(this).val());">
                        </a>
                        <span id="spanFileName"></span>
                    </td>
                </tr>
                
            </table>
            <input type="hidden" id="ID" name="ID" value="" />
            <input type="hidden" id="CorpCode" name="CorpCode" value="" />
            <input type="hidden" id="FileID" name="FileID" value="" />
        </form>
   </div>
   <div title="判断题">
        <div id="div-searchctr-wrap">
            <span style="float: right; margin-right: 0px;margin-top:5px; display: inline-block">
                 <button class="btn  btn-yellow btn-xs" onclick="Information.reloadDataGrid();"><i class="icon-search bigger-130"></i>查询</button>
                <button class="btn  btn-yellow btn-xs" onclick="Information.addJudge();"><i class="icon-plus"></i>添加</button>
                <button class="btn  btn-yellow btn-xs" onclick="Information.editJudge();"><i class="icon-pencil"></i>编辑</button>
                <button class="btn  btn-yellow btn-xs" onclick="Information.deleteJudge();"><i class="icon-remove"></i>删除</button>
            </span>
        </div>

        <div class="dg-panel" style="padding: 0px 5px;">
            <div id="dgJudge">
            </div>
        </div>
       <div id="dlgJ" style="display:none">
          @Html.Partial("AddJudge")
         </div>
    </div>
    <div title="单选题">
        <div id="div-searchctr-wrap">
            <span style="float: right; margin-right: 0px;margin-top:5px; display: inline-block">
                 <button class="btn  btn-yellow btn-xs" onclick="Information.reloadDataGrid();"><i class="icon-search bigger-130"></i>查询</button>
                <button class="btn  btn-yellow btn-xs" onclick="Information.addChoice();"><i class="icon-plus"></i>添加</button>
                <button class="btn  btn-yellow btn-xs" onclick="Information.editChoice();"><i class="icon-pencil"></i>编辑</button>
                <button class="btn  btn-yellow btn-xs" onclick="Information.deleteChoice();"><i class="icon-remove"></i>删除</button>
            </span>
        </div>

        <div class="dg-panel" style="padding: 0px 5px;">
            <div id="dgChoice">
            </div>
        </div>
       <div id="dlgJ" style="display:none">
          @Html.Partial("AddChoice")
         </div>
    </div>
</div>