<div id="dlgMain" style="width: 700px; height: 400px; display: none; padding-top: 5px">
    <form id="fm" style="margin: 0px auto;">
        @{
            var width = 220;
            var easyWidth = 222;
        }
        <table border="0" cellpadding="0" cellspacing="0" class="frm-table">
            <tr>
                <th>
                    公告标题<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Title" id="Title" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    有效日期<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="ValidDate" id="ValidDate" class="Wdate required" onfocus="WdatePicker({ minDate: '%y-%M-%d' })" type="text" style="width:  90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    公告内容<span class="label-necessary">*</span>：
                </th>
                <td>
                    @*<textarea name="Detail" id="Detail" class="required"  style="width: 90%;height:80px"></textarea>*@
                    <script type="text/plain" id="umEditor" style="width:524px;height:140px;">
                    </script>
                </td>
            </tr>
            @*<tr>
                <th>
                    附件：
                </th>
                <td>
                    <a id="btnChooseFile" class="btn-chooseFile">
                        选择文件
                        <input class="required" style="opacity: 0; width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;"
                               type="file" id="input-file" name="input-file" onchange="$('#spanFileName').html($(this).val());"/>
                    </a>
                    <span id="spanFileName"></span>
                </td>
            </tr>*@
        </table>
        <input type="hidden" id="ID" name="ID" value="" />
        <input type="hidden" id="TargetType" name="TargetType" value="" />
        <input type="hidden" id="TargetZone" name="TargetZone" value="" />
        <input type="hidden" id="FileID" name="FileID" value="" />
    </form>
</div>