@using System.Web.Optimization
@{
    ViewBag.Title = "公告板管理";
}

@section Header{
    <link href="~/BackAssets/select2-3.5.1/select2.css" rel="stylesheet" />
    <link href="~/BackAssets/select2-3.5.1/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/BackAssets/UMEditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
    <style>
         .BMap_cpyCtrl {
            display: none;
        }
        .anchorBL {
            display: none;
        }
    </style>
    <style type="text/css">
        /*覆盖easyui Tab已选中的样式*/
        .tabs li.tabs-selected a.tabs-inner {
            background-color: #ffffff;
            color: #0E2D5F;
            background: -webkit-linear-gradient(top,#C5C5C5 0,#ffffff 100%);
            background: -moz-linear-gradient(top,#C5C5C5 0,#ffffff 100%);
            background: -o-linear-gradient(top,#C5C5C5 0,#ffffff 100%);
            background: linear-gradient(to bottom,#C5C5C5 0,#ffffff 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C5C5C5,endColorstr=#ffffff,GradientType=0);
        }
        /*验证*/
        .invalid {
            border-color: #D00;
        }

        div.datagrid-header {
            background-color: #FAEBD7;
        }

        .datagrid-header .datagrid-cell span {
            font-size: 14px;
            font-weight: 600;
        }

        a.l-btn span span.l-btn-icon-left[class^="icon-"] {
            padding: 0px !important;
        }
    </style>

}

@section breadcrumb{
    <li class="active">公告板管理</li>}
<div>

    <div id="div-searchctr-wrap">
        <span class="search-condition-box">标题:<input id="conditionUserName" type="text" style="width: 140px;height: 22px;" /></span>
        <span class="search-condition-box">
            有效日期:<input id="conditionBeginTime" type="text" class="Wdate" onfocus="WdatePicker()" style="width: 140px;height: 22px;" />
        </span>
        <span class="search-condition-box">~</span>
        <span class="search-condition-box">
            <input id="conditionEndTime" type="text" class="Wdate" onfocus="WdatePicker()" style="width: 140px;height: 22px;" />
        </span>
        <span style="float: right; margin-right: 0px; display: inline-block">
            <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.Attendence.Board.reloadDataGrid();"><i class="icon-search bigger-130"></i>查询</button>
            <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.Attendence.Board.add();"><i class="icon-plus"></i>添加</button>
            <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.Attendence.Board.edit();"><i class="icon-pencil"></i>编辑</button>
            <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.Attendence.Board.deleteItems();"><i class="icon-remove"></i>删除</button>
        </span>
    </div>

    <div class="dg-panel" style="padding: 0px 5px;">
        <div id="dgMain">
        </div>
    </div>

</div>


<div id="dlgs" style="display: none;">
    @Html.Partial("Create")
</div>
@section Scripts{
    <!-- 百度地图相关 -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2NGVdhl05yLBDEiMMbFh8Ndw"></script>
    <script src="~/BackAssets/select2-3.5.1/select2.min.js"></script>
    <script src="~/BackAssets/My97/WdatePicker.js"></script>
    <script src="~/BackAssets/jquery-easyui-1.4/easyloader.js"></script>

    <script src="~/Scripts/jQuery.validVal/js/jquery.validVal.js"></script>

    <script src="~/BackAssets/js/jquery.gritter.min.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/BackAssets/UMEditor/umeditor.config.js"></script>
    <script src="~/BackAssets/UMEditor/umeditor.min.js"></script>
    <script src="~/BackAssets/UMEditor/lang/zh-cn/zh-cn.js"></script>
    <script src="~/Scripts/JS/Business/Board.js"></script>
    <script type="text/javascript">
        $(".select2").select2();
        PlugFunctions.Attendence.Board.init();
    </script>
}