<div id="dlgMain" style="width: 500px; height: 525px; display: none; padding-top: 5px">
    <form id="fm" style="margin: 0px auto;">
        @{
            var width = 220;
            var easyWidth = 222;
        }
        <table border="0" cellpadding="0" cellspacing="0" class="frm-table">
            <tr>
                <th>
                    编号<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Code" id="Code" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    名称<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="UserName" id="UserName" class="required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    登录密码<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Password" id="Password" class="" type="password" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    密码确认<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="PasswordConfirm" id="PasswordConfirm" class="placeholder corresponding:Password" type="password" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    所属门店<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="StoreId" id="StoreId" class="required" type="text" style="width: 345px" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    年资<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="YearAge" id="YearAge" class="number required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    基本工资<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Wage" id="Wage" class="number required" type="text" style="width: 90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    入职时间<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="CreateTime" id="CreateTime" class="Wdate required" onfocus="WdatePicker({ })" type="text" style="width:  90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    家庭住址<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Address" id="Address" class="required" type="text" style="width:  90%" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    联系电话<span class="label-necessary">*</span>：
                </th>
                <td>
                    <input name="Mobile" id="Mobile" class="required" type="text" style="width:  90%" value="" />
                </td>
            </tr>
        </table>
        <input type="hidden" id="ID" name="ID" value="" />
    </form>
</div>
