<div id="dlgRole" style="width: 445px; height: 250px; display: none; padding-top: 25px">
    <form id="fmRole" method="post" class="form-horizontal" role="form" action="~/API/Category">

        @{
            var width = 270 + "px";
        }
        <table border="0" cellpadding="0" cellspacing="0" class="frm-table">
            <tr>
                <th style="width: 100px;">
                    <label for="Name">名称：</label>
                </th>
                <td>
                    <input type="text" id="Name" name="Name" class="required" placeholder="名称" style="width:@width" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Sort">备注：</label>
                </th>
                <td>
                    <textarea id="Note" class="required" name="Note" placeholder="备注" style="width:@width;height:80px;"></textarea>
                </td>
            </tr>
        </table>
        <input type="hidden" name="ID" id="RoleId" />
    </form>
</div>
