@using System.Web.Optimization
@{
    ViewBag.Title = "操作员及角色管理";
}

@section Header{
    <link href="~/BackAssets/select2-3.5.1/select2.css" rel="stylesheet" />
    <link href="~/BackAssets/select2-3.5.1/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Plug/Plug.css" rel="stylesheet" />
    <style type="text/css">
        .dg-panel {
            /*margin:20px 24px;*/
        }

        /*验证*/
        .invalid {
            border-color: #D00;
        }
    </style>

}
@section breadcrumb{
    <li class="active">操作员及角色管理</li>}

<div class="dg-panel">
    <div id="cc" class="easyui_layout" style="display: none">
        <div data-options="region:'west',title:'角色',split:true" style="width: 300px;">
            <table id="dgRole"></table>
        </div>
        <div data-options="region:'center',split:true">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'north',split:true,title:'操作员'" style="height:370px">
                    <table id="dgOperator"></table>
                </div>
                <div data-options="region:'center',split:true,title:'角色授权'" style="height:370px">
                    <table id="dgAuth"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dlgsContainer" style="display: none;">
    @Html.Partial("SelectRoleFunctions")
    @Html.Partial("CreateRole")
    @Html.Partial("CreateOperator")
    <div class="page-header position-relative" id="RoleTool" style="padding:5px 15px;margin: 0px;">
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.role.Add(); return false;"><i class="icon-plus"></i>添加</button>
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.role.Edit(); return false;"><i class="icon-pencil"></i>修改</button>
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.role.Delete(); return false;"><i class="icon-minus"></i>删除</button>
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.role.Authorize(); return false;"><i class="icon-refresh"></i>功能授权</button>
    </div>

    <div class="page-header position-relative" id="OperatorTool" style="padding:5px 15px;margin: 0px;">
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.operator.Add(); return false;"><i class="icon-plus"></i>添加</button>
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.operator.Edit(); return false;"><i class="icon-pencil"></i>修改</button>
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.operator.Delete(); return false;"><i class="icon-minus"></i>删除</button>
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.operator.reload(); return false;"><i class="icon-refresh"></i>刷新</button>
    </div>

    <div class="page-header position-relative" id="AuthorizeTool" style="padding:5px 15px;margin: 0px;">
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.auth.select(); return false;"><i class="icon-plus"></i>选择授权功能</button>
        <button class="btn  btn-yellow btn-xs" onclick="PlugFunctions.System.OperatorRole.auth.reload(); return false;"><i class="icon-refresh"></i>刷新</button>
 </div>

</div>

@section Scripts{
    <script src="~/BackAssets/jquery-easyui-1.4/easyloader.js"></script>
    <script src="~/Scripts/jQuery.validVal/js/jquery.validVal.js"></script>
    <script src="~/BackAssets/js/jquery.gritter.min.js"></script>
    <script src="~/Scripts/JS/OperatorRole.js"></script>
    <script type="text/javascript">

        PlugFunctions.System.OperatorRole.init();
    </script>
}