<?xml version="1.0" encoding="utf-8"?>
<connectionStrings >
  <add name="DefaultConnection" connectionString="Data Source=V-2008-DEV10;Initial Catalog=CXY;User ID=sa;Password=1q2w#E$R" providerName="System.Data.SqlClient" />
  <add name="WQTRights" connectionString="Data Source=.;Initial Catalog=CommonRights;User ID=sa;Password=Sa123456" providerName="System.Data.SqlClient" />
</connectionStrings>