<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--文件上传保存的路径-->
  <add key="UploadPath" value="D:/WQTUploads/" />
  <add key="AndroidApk" value="D:/App/FlipDemo.apk"/>
  <add key="iOSIpa" value="D:/App/weixin5(www.greenxf.com).ipa"/>
  <add key="AndroidVersion" value="1.0"/>
  <add key="iOSVersion" value="1.0"/>
   <add key="SysName" value="天不下雨通用业务管理系统"/>
</appSettings>
