@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
    <style>
        .BMap_cpyCtrl {
            display: none;
        }
    </style>
    <!-- 百度地图相关 -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2NGVdhl05yLBDEiMMbFh8Ndw"></script>
}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="color-green pull-left">联系我们</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">主页</a> <span class="divider">/</span></li>
            <li class="active">联系我们</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div class="span9">
            <div id="map" class="map map-box map-box-space margin-bottom-40">
            </div><!---/map-->

            <p>您可以在下方发送消息给我们，收到消息后我们将在一个工作日内通过邮件的方式给你反馈信息。</p><br />
            <form>
                <label>姓名(Name)：</label>
                <input type="text" class="span7" />
                <label>电子邮件地址(Email)：<span class="color-red">*</span></label>
                <input type="text" class="span7" />
                <label>发送的消息(Message)：</label>
                <textarea rows="8" class="span10"></textarea>
                <p><button type="submit" class="btn-u">发送(Send)</button></p>
            </form>
        </div><!--/span9-->

        <div class="span3">
            <!-- Contacts -->
            <div class="headline"><h3>联系方式</h3></div>
            <ul class="unstyled who margin-bottom-20">
                <li><a href="#"><i class="icon-home"></i>杭州经济技术开发区
天城东路175号东沙铭楼6幢801室</a></li>
                <li><a href="#"><i class="icon-envelope-alt"></i>info@example.com</a></li>
                <li><a href="#"><i class="icon-phone-sign"></i>1(222) 5x86 x97x</a></li>
                <li><a href="#"><i class="icon-globe"></i>http://www.example.com</a></li>
            </ul>

            <!-- Business Hours -->
            <div class="headline"><h3>服务时间</h3></div>
            <ul class="unstyled">
                <li><strong>周一-周五:</strong> 上午10点 to 晚上8点</li>
                <li><strong>周六-周日:</strong>  上午11点 to 晚上6点</li>
            </ul>

            <!-- Why we are? -->
            <div class="headline"><h3>为什么要选择我们?</h3></div>
            <p>我们用最优质的服务，让您得到满意.</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i> 食材：新鲜、健康。</li>
                <li><i class="icon-ok color-green"></i> 服务：周到，细致。</li>
                <li><i class="icon-ok color-green"></i> 理念：追求品质生活。</li>
            </ul>
        </div><!--/span3-->
    </div><!--/row-fluid-->
    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>我们的客户</h3></div>
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/hp_grey.png" alt="" />
                    <img src="~/assets/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/igneus_grey.png" alt="" />
                    <img src="~/assets/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/vadafone_grey.png" alt="" />
                    <img src="~/assets/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/walmart_grey.png" alt="" />
                    <img src="~/assets/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/shell_grey.png" alt="" />
                    <img src="~/assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/natural_grey.png" alt="" />
                    <img src="~/assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/aztec_grey.png" alt="" />
                    <img src="~/assets/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="~/assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/cisco_grey.png" alt="" />
                    <img src="~/assets/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/everyday_grey.png" alt="" />
                    <img src="~/assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/cocacola_grey.png" alt="" />
                    <img src="~/assets/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="~/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/shell_grey.png" alt="" />
                    <img src="~/assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/natural_grey.png" alt="" />
                    <img src="~/assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="~/assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/everyday_grey.png" alt="" />
                    <img src="~/assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="~/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- //End Our Clients -->
</div><!--/container-->
<!--=== End Content Part ===-->
@section scripts{
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/contact.js"></script>
    @*<script src="~/assets/js/pages/map.js"></script>*@
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
            Contact.initMap();
            $("#main-menu-about").addClass("active");
        });
    </script>
}
