/*login login-dialog and favoriate*/
/* ------- login-dialog ------- */
body,h2,p,ul,li,form,input,select,a{margin:0;padding:0}
body{font:12px 'Microsoft Yahei','微软雅黑','simsun',Arial,sans-serif;color:#333;}
a{color:#3790ce;text-decoration:none}
img{border:none; vertical-align:middle;}

#loginDialog{z-index:99;background:#ffffff; position:absolute;left:50%; margin-left:-252px; border:1px solid #d3d8db; height:230px; width:504px;font-size:12px;display:none;font:bold 12px '微软雅黑';}

#loginDialog.dialog-login-invited{height:300px;}
#loginDialog.dialog-login-invited .ireg{display:block;}
#loginDialog.dialog-login-invited .indent{margin:15px 0;}


#loginDialog .dialog-hd{ position:relative; height:35px; border-bottom:1px solid #d3d8db; background:#f5f6f7; padding-left:18px; }
.dialog-hd h2{ font:bold 12px '微软雅黑'; line-height:35px; }
.dialog-hd img{margin-right:8px;vertical-align:-3px;}
.dialog-hd .close{ position:absolute; right:10px; top:13px; width:10px; height:10px; overflow:hidden; background:url(images/sp-8.png) -0px -82px; opacity:0.5; }
.dialog-hd .close:hover{opacity:1.0;}

#loginDialog .dialog-bd{ padding:25px 0 0; border-top:1px solid #f2f2f2; background:#fff; }
.dialog-bd .row{margin-bottom:10px; line-height:26px; }
.dialog-bd .row:last-child{margin-bottom:0;}
.dialog-bd .row-hd,.dialog-bd .row-bd{display:inline-block;vertical-align:middle}
.dialog-bd .row-hd{min-width:3em;_width:3em;margin-right:0.7em;text-align:right}
.dialog-bd .indent .row-bd{font-weight:lighter;}
.dialog-bd .indent label{ margin-right:86px; }
.dialog-bd .indent label input{ vertical-align:-2px;margin-right:5px; }
.dialog-bd .left,.dialog-bd .right{display:inline-block;vertical-align:top;}
.dialog-bd .right{width:262px;padding-left:18px;}
.dialog-bd .left{width:192px;border-left:1px solid #dedede;margin-left:10px;}
.dialog-bd #submitBtn{width:204px;font-size:14px;}
.dialog-bd .text{height:22px;width:200px;padding:2px;border:1px solid;border-color:#d9d9d9;outline:none;
    background:-webkit-gradient(linear, 0 0, 0 10%, from(#e5e5e5), to(#fff));
    background:-moz-linear-gradient(top, #e5e5e5, #fff 10%);
}
.dialog-bd .text:focus{
    border-color:#499fef;background:#fff;
    background:-webkit-gradient(linear, 0 0, 0 10%, from(#e5e5e5), to(#fff));
    background:-moz-linear-gradient(top, #e5e5e5, #fff 10%);
}

.dialog-bd .left .openid{padding:0 18px 0 20px;font-weight:normal;}
.dialog-bd .left a:hover{text-decoration:none;background-color:#ffffff;}

.sina,.qq,.tqq,.ireg{background:url(images/sprit.png) no-repeat;height:29px;line-height:28px;font-family:'微软雅黑';}
.sina,.qq,.tqq,.ireg{display:block;background-color:#f2f4f5;border:1px solid #dedede;width:120px;color:#757575;margin-bottom:10px;padding-left:40px;}
.sina{background-position:5px 5px}
.qq{background-position:5px -25px}
.tqq{background-position:5px -57px}
.ireg{display:none;padding-left:0px;width:160px;text-align:center;background-image:url('_blank');}

#loginDialog .btn { display: inline-block; padding: 5px 10px; font-weight: bold; text-align: center; text-decoration: none; font-family: "Microsoft YaHei","Microsoft JhengHei","STHeiti,sans-serif"; cursor: pointer; border: 1px solid #D2D2D2; border-radius: 2px; }
#loginDialog .blue-btn:hover { color: white; background: #3999f3; border-color: #148FD4; }
#loginDialog .blue-btn { color: white; background: #499fef; border-color: #148FD4; }



.login-dialog-hd-closable{padding-right:30px}
.login-dialog-title{font-weight:bold}
.login-dialog-close{position:absolute;right:10px;top:10px;width:10px;height:0;padding-top:10px;overflow:hidden;background:url(images/note-web-sprite.png) no-repeat -120px top}
.login-dialog-close:hover{background-position:-120px -10px;}
.login-dialog-bd{padding: 15px; border-top: 1px solid #E5F5FC;}
.login-dialog-bd .indent-row{margin-left:3em;}
.login-dialog-bd p{line-height: 160%;margin: 10px 0;}
.login-dialog-form .row{margin-bottom:10px;}
.login-dialog-form .btns-row{margin-bottom:0;}
.login-dialog-form .row:last-child{margin-bottom:0}
.login-dialog-form .row-hd,.login-dialog-form .row-bd{display:inline-block;vertical-align:top}
.login-dialog-form .row-hd{width:2.5em;margin-right:.5em;font-weight:bold;line-height:26px;}
.login-dialog-form .msg{margin:0;font-size:12px}
.login-dialog-form .error-msg{color:red}
.login-dialog-text{min-width: 230px;height: 20px;
        padding: 3px;
        border: 1px solid;
        background: #FAFAFA;
        transition: all .3s ease-in-out;
        border-radius: 2px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        border-color: #999 #D2D2D2 #D2D2D2 #999;}

.login-dialog-text:hover {
        border-color: #A2A2A2;
        background: white;
        box-shadow: 0 0 1px #D5D5D5;
        background: -webkit-linear-gradient(top, #E8E8E8, white);
        background: -moz-linear-gradient(top, #E8E8E8, white 10%);
    }
.login-dialog-text:focus {
        border-color:#19a4e5;background:#fff;
        box-shadow:0 0 3px #19a4e5;
        background:-webkit-linear-gradient(top, #e5e5e5, #fff);
        background:-moz-linear-gradient(top, #e5e5e5, #fff 10%);
}
.login-dialog-top-tip{background: none repeat scroll 0 0 #F5FFF1;width:400px;border: 1px solid #A1D299;color: #345501;margin: -12px auto 20px;padding: 0 10px;position: relative;}
.hide {display:none;}
#savelogin{vertical-align:-2px;}
.login-dialog-form .dialog-btn{
        min-width: 70px;
        padding: 5px 10px;
        margin-right: 15px;
    }
 .dialog-inner  .btn {
        display: inline-block;
        padding: 7px 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        font-family: 'Microsoft YaHei','微软雅黑','Microsoft JhengHei','���ĺ���',STHeiti,sans-serif;
        cursor: pointer;
        color: #3A3A3A;
        background: white;
        border: 1px solid #D2D2D2;
        text-shadow: 1px 1px 0 white;
        transition: all .3s ease-in-out;
        border-radius: 2px;
        box-shadow: 1px 1px 0 whiteSmoke;
        -webkit-transition: all .3s ease-in-out;
        background: -webkit-linear-gradient(top, white, whiteSmoke);
        -moz-transition: all .3s ease-in-out;
        background: -moz-linear-gradient(top, white, whiteSmoke 100%);
        -o-transition: all .3s ease-in-out;
    }
  .dialog-inner  .btn:hover {
        color: #2A2A2A;
        border-color: #999;
        background: #F2F2F2;
        box-shadow: 1px 1px 2px #D5D5D5;
        background: -webkit-linear-gradient(top, white, #F2F2F2);
        background: -moz-linear-gradient(top, white, #F2F2F2 100%);
    }
   .dialog-inner  .blue-btn:hover {
        color: white;
        background: #009AE2;
        border-color: #148FD4;
        background: -webkit-linear-gradient(top, #00A3E5, #008EDD);
        background: -moz-linear-gradient(top, #00A3E5, #008EDD 100%);
    }
    .dialog-inner  .blue-btn {
        color: white;
        background: #29A7E5;
        border-color: #148FD4;
        text-shadow: 1px 1px 0 #148FD4;
        background: -webkit-linear-gradient(top, #32ADE8, #249FE3);
        background: -moz-linear-gradient(top, #32ADE8, #249FE3 100%);
    }
.dialog-inner .invited-reg-btn {
    display: block;
    margin: 20px auto;
    width: 140px;
}
.dialog-inner .big-btn {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}

.login-ico {background: url("images/icons.png") no-repeat scroll 0 0 transparent;display: inline-block;height: 16px;vertical-align: text-bottom;width: 16px;}
.login-dialog p{margin-bottom:10px}
.login-dialog-headline{font-size:1.6em}
.login-dialog-highlight{color:red}
.login-dialog-ft{padding:10px;background:#fafafa;border-top:1px solid #f2f2f2}
.dialog-top-tip-arrow {background-position: -340px -35px;height: 10px;left: 10px;position: absolute;top: -10px;width: 20px;}
/*Added For Dialog 11:41 2011/5/23*/
.login-dialog {position:fixed;_position:absolute;top:25%;left:40%}
/*Added For Login Tips 12:11 2011/5/23*/
.login-frame-wrapper {width:1px;height:1px;display:none}
.login-tiparea-close, .login-tiparea-top, .login-tiparea-bottom {
    background: url("images/corners.png") no-repeat scroll left top transparent;
}
.login-tiparea-top, .login-tiparea-bottom {
    height: 7px;
    overflow: hidden;
    position: absolute;
    width: 12px;
}

.remember_psw1 {
    background: none repeat scroll 0 0 #FAE4E4;
    border: 1px solid #F9C3C3;
    padding: 5px 20px 5px 7px;
    position: fixed;
    width: 194px;
    font-size:12px;
    z-index: 1000;
    display:none;
}

.remember_psw1 p {
   margin-top:3px;
   margin-bottom:3px;
}

.login-tiparea-top {
    background-position: -32px -282px;
    left: 41px;
    top: -7px;
}


.login-tiparea-close {
    background-position: 0 -282px;
    height: 9px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 8px;
    width: 9px;
}
.login-tiparea-close:hover { background-position:-9px -282px; }

.login-tiparea-bottom {
    background-position: -18px -282px;
    bottom: -7px;
    left: 48px;
}

.login-tiparea {
    background: none repeat scroll 0 0 #FAE4E4;
    border: 1px solid #F9C3C3;
    padding: 3px 7px;
    position: fixed;
    display:none;
    width: 211px;height:100px;
    z-index: 1000;
    font-size:12px;
}
/*domain selector*/
.domainSelector, .domainSelector *{font-size:12px; line-height:normal;}
.domainSelector {border:1px solid #499fef; width:165px;overflow:hidden;}
.domainSelector .title {height:15px;padding:3px 0 3px 2px;color:#2B2B2B;background:none repeat scroll 0 0 #F6F6F6;}
.domainSelector table td table td {padding:3px;}
.domainSelector {position:absolute;}
/*domain selector end*/
.login-tiparea .error-state {
    background: url("images/error_m.png") no-repeat scroll left top transparent;
    padding: 7px 0 5px 30px;
}
.login-tiparea .p-desc {
    color: #2B2B2B;
    padding: 5px 0 2px;
}
.login-tiparea .p-desc2 {
    color: #BA2636;
    padding: 5px 0 5px 19px;
}
.login-tiparea .p-desc {
    color: #2B2B2B;
    padding: 5px 0 2px;
}
.login-tiparea p {
    margin:0;
    line-height:normal;
}
.dialog-invited-success {
    width: 500px;
}
.dialog-invited-success .dialog-col {
    border: medium none;
    text-align: center;
}
.dialog-bd p {
    line-height: 160%;
    margin: 10px 0;
}
.success-suggestion {
    margin-top: 20px;
}
/*fav btn*/
.fav-alert {z-index:99999;position:absolute;height:20px;left:35%;top:0;background:#fffff6;box-shadow:1px 0 1px 0 #ffebb4;border:1pt solid #ffebb4;border-radius:0 0 1px 1px;padding:10px 10px 10px;color:#d98736;line-height:20px}
.fav-alert a {text-decoration:none;cursor:pointer;}
.fav-alert .fav-btn {display:inline-block; height:26px;line-height:25px;background:none repeat scroll 0 0 #29A7E5;text-shadow:#fff 0 0 .5px;border-radius:3px;color:#fff}
.fav-alert b{display:inline-block;height:26px;padding-right:10px;margin-left:10px;vertical-align:top;font-weight:normal}
.notalert {text-decoration:none;margin-left:60px;display:inline-block;color:#148fd4;text-shadow:#fff 0 0 .5px}
