/* ===reset===================== */
body,h1,h2,h3,p,dl,ul,form{margin:0;padding:0;}
a{text-decoration:none;}
li{list-style:none;}
.clearfix::after{content:'.';display:block;visibility:hidden;height:0;line-height:0;font-size:0;clear:both;}
.clearfix{zoom:1;}
body{font-family:'Microsoft Yahei','微软雅黑','simsun',Arial;}
/* ===布局========================== */
#doc2,#doc1#hd,.hd-wrap,.bd-wrap.ft-wrap{width:100%;min-width:960px;}
.hd,#hd .bd,#bd,.ft{width:960px;margin:0 auto;}
.hd{height:58px;}
.bd{height:476px;position:relative;}
#hd{border-bottom:1px solid #eaeaea;margin-bottom:20px;}
/* fix IE8下塌陷 */
#bd{height:701px;}
#doc2 #bd{margin-top:50px;}
/* 中间两栏布局 */
#yao-main{width: 630px;float:left;margin-right:-330px;}
.yao-b{width:320px;float:right;}
#yao-main .yao-b{width:auto;float:none;}
/* ===头部导航 ==============================*/
#hd{font-family: 'Microsoft Yahei','微软雅黑','simsun';}
.logo{display:block;height:100%;width:100%;}
h1{height: 57px;width: 157px;color:#fff;margin:0 46px 0 0;}
h1,.nav,.login{display:inline-block;vertical-align:middle;}
/*.hd .nav {width: 520px; overflow: hidden;}*/
.nav a{color:#414141;font-size:18px;padding:10px 5px;display:inline-block;margin:0 10px;}
.nav .current,.nav a:hover{border-bottom:3px solid #3f97d4;padding:10px 5px 7px;color:#3f97d4;}
.login{position: relative; right: 0; width: 220px; color:#bbb; text-align:right;}
.login a{color:#707070;font-size:14px;line-height:24px; outline: none; border: none;}
.login img {vertical-align: bottom;}
.login .login-vip-link {color: #3F97D3; font-weight: bold; *display: none;}
.login .vip-link-blank {*display: none;}
.login .login-vip-link img {border: none;}
/* 头部下载 */
.dl-btn{height:80px;width:266px;position:absolute;right:122px;top:222px;}
.QR-code {width:82px; position:absolute;right:30px;top:222px;}
.multi-plat{position:absolute;right:181px;top:317px;}
.ios,.android,.win{display:inline-block;height:30px;width:35px;line-height:30px;*line-height:0;}
.ios,.win{margin-right: 22px;}
.mac-tab{position:absolute;top:396px;left:600px;width:140px;display:block;height:18px;}
.new-feature{position:absolute;top:396px;right:35px;width:160px;display:block;height:18px;}
.play-video{display:block;height:150px;background:url(images/video.jpg) 0 0 no-repeat;margin-bottom:15px;}
/* 左侧模块 */
.feature-item{min-height:140px;margin-bottom:100px;}
.feature-item:last-child{margin:0}
.feature-item img{position:absolute;}
.feature-item dl{margin-left:240px;}
.feature-item dt{margin-bottom:25px;font:36px '微软雅黑','黑体',sans-serif;color:#191919}
.feature-item dd{margin-left:0;line-height:28px;color:#4b4a4a;font-size:16px;}
/* 右侧模块 */
#slideShow{padding:0;border-bottom:1px solid #efefef;background:#fff}
/* award */
#awardsList li{float:left;width:33.2%;margin-right:0.1%;text-align:center;line-height:1.4}
#awardsList a{color:#3a3a3a}
#awardsList a:hover{color:#191919}
#awards,#updates{border:1px solid #d6d6d6;height:143px;margin-top:20px;font-family:'Microsoft Yahei','微软雅黑';padding-bottom:20px;}
#updates{height:auto;}
#updates p{width:85%;}
h3{background-color:#eef6fd;font-size:14px;line-height:30px;font-weight:normal;text-indent:20px;}
#awards li{display:inline-block;font-size:12px;width:32%;text-align:center;line-height:20px;margin-top:20px;}
#awards a{color:#5a5a5a;}
#awards a img{border:none;}/* IE下黑色边框 */
#updates{color:#5a5a5a;font-size:12px;line-height:20px;position:relative;}
#updates h3{margin-bottom:10px;}
#updates p{padding-left:30px;}
#updates .more{position:absolute;top:6px;right:10px;text-decoration:none;}
#updates a:link,#updates a:visited,#updates a:hover,#updates a:active{color:#0092ca;}
#updates a{text-decoration:underline;}
/* 轮播 */
.widget-slide{position:relative;height:130px;overflow:hidden;}
.widget-slide img{display:block;border:0; width: 320px; height: 130px;}
.widget-slide-index{position:absolute;bottom:0;left:0;width:100%;height:20px;text-align:right;background:rgb(204,204,204);background:rgba(0,0,0,.2)!important;}
.widget-slide-index a{display:inline-block;padding:2px 10px 0;line-height:20px;font-size:10px;color:#fff;}
.widget-slide-index a:visited,.widget-slide-index a:active{color:#fff;}
.widget-slide-index a:hover,.widget-slide-index .on{zoom:1;color:#dedede;background:rgba(255,255,255,.4);}

/* ===底部================================*/
.ft-wrap{background-color:#ecf1f4;font-family:Simsun;font-size:12px;margin:70px auto 0;}
.ft{min-height:220px;_height:220px;}
.ft dl{display:inline-block;margin:30px 10px 0 30px;line-height:22px;width:170px;vertical-align:top;}
.ft dt{font-family: '宋体'; color:#626364;font-weight:bold;}
.ft dd{margin:0;}
.ft dd a,.ft dd{color:#848484;}
.ft .last{margin-left:30px;width:260px;}

/* =========下载页面 =================================*/
#doc1 #bd{width:100%;text-align:center;background-color:#fefefe;height:100%;}
#download-warning {display: none;}
#download-warning img {margin: 0;}
.bd-content {margin: 0 auto; width: 960px;}
.bd-content .dl-item {position: relative;}
#download-warning{position:absolute;background:#ffffff;left:15%;top:0px;width:400px;height:180px;box-shadow: 0 0 10px 5px #49A3E2;}
#download-warning .download-dialog-hd{position:relative;height:38px;background-color:#ddf0ff;border-bottom:1px solid #a8cbe6;text-align: left;}
#download-warning .download-dialog-hd span{font-size:18px;color:#007bc5;padding-left:20px;line-height:38px; text-align: left;}
#download-warning .download-dialog-hd .close{position:absolute;width:17px;height:17px;background:url(../help/images//close.png) no-repeat;top:10px;right:10px;}
#download-warning .download-dialog-bd{text-align:center;width: 100%; margin: 0;padding: 0;}
#download-warning .download-dialog-bd img {float: left; width: 139px;}
#download-warning .download-dialog-bd p{display: inline-block;*display: inline; *zoom:1;padding: 40px 20px 0 0; width: 210px; font:14px/1 'Microsoft Yahei', 'Simsun', '宋体';color:#000000;text-align:left; line-height: 2;}
#download-warning .download-dialog-bd .resolve{display:block;width:200px;font-size:18px;line-height:40px;color:#ffffff;background:#41aef2;text-decoration:none;margin:0 auto;border-radius:5px;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00bfe5), to(#008eFF));}
/* 跳转条 */
#gtWin{padding-top:100px;_padding-top:50px;}
#doc1 #hd .bd-wrap{position:fixed;width:100%; z-index: 10;}
.multi-op{position: relative; width:960px;margin:0 auto;height:58px;font-size:0;line-height:0;overflow:hidden;}
.multi-op span{display:none;}
.multi-op a{position: absolute; display:inline-block;height:44px;border-radius:3px;top:5px;}
.op-iphone{width:120px;left: 138px;}
.op-android{width:105px;left: 268px;}
.op-winphone {margin-left: 5px; width: 152px;}
.op-mac{width:81px;right: 238px;}
.op-win{width:109px;right: 120px;}
.op-cut{width:110px;right: 0px;}
/* ==跳转条图片定位== */
.multi-op{background:url(images/banner.png);}
.op-iphone:hover,.op-iphone:active,.op-android:hover,.op-android:active,.op-winphone:hover, .op-winphone:active,
.op-mac:hover,.op-mac:active,.op-win:hover,.op-win:active,.op-cut:hover,.op-cut:active {
    background-image:url(images/banner.png);
}
.op-iphone:hover{background-position:-138px -85px;}
.op-iphone:active{background-position:-138px -165px;}
.op-android:hover{background-position:-268px -85px;}
.op-android:active{background-position:-268px -165px;}
.op-winphone:hover{background-position:-378px -85px;}
.op-winphone:active{background-position:-378px -165px;}
.op-mac:hover{background-position:-641px -85px;*background-position:-641px -85px;}
.op-mac:active{background-position:-641px -165px;*background-position:-641px -165px;}
.op-win:hover{background-position:-731px -85px;*background-position:-731px -85px;}
.op-win:active{background-position:-731px -165px;*background-position:-731px -165px;}
.op-cut:hover{background-position:-850px -85px;}
.op-cut:active{background-position:-850px -165px;}
/* 列表 */
.dl-item{margin:0 auto;border-bottom:1px solid #eaeaea;width:960px;}
.dl-item img{vertical-align:middle;margin:20px 0 0 0;}
.dl-item dl{display:inline-block;vertical-align:middle;text-align:left;width:400px;}
.dl-item dt{color:#535353;font-size:28px;line-height:70px;}
.dl-item dd{margin-left:0;font-size:16px;color:#848484;line-height:0px; padding: 12px 0;}
.dl-item .download-QR-code {margin:0; padding: 0; position: absolute;top: 0px; left: 233px; width:120px; }
.dl-item .download-dd{position: relative;margin: 18px 0 0;padding: 0;}
.dl-item .download-dd .btn {vertical-align: top; margin: 0;}
#doc1 .btn,#doc2 .btn{display:inline-block;width:212px;height:65px;}
/* 浮窗 */
.fl-pop{width:155px;height:186px;padding:0 5px 0 8px;position:absolute;border:1px solid #c2c2c2;border-radius:3px;margin-top:-140px;margin-left:228px;*margin-left:10px;*margin-top:-80px;}
.fl-pop .t-out,.fl-pop .t-in{position:absolute;font-family:Arial;z-index:1;}
.fl-pop .t-out{color:#c2c2c2;top:36%;font-size:18px;left:-10px;}
.fl-pop .t-in{color:#f2f2f2;z-index:2;font-size:18px;left:2px;top:0;}
.fl-pop a{display:block;height:36px;z-index:1000; margin-top: 12px;*margin-top: 8px;_margin-top: 10px;}
.fl-pop .qihu-app {
    margin-top: 4px;
}
.net-app{*margin-top:-4px;_margin-top:-3px;}
/* 图片 */
.bd{background:url(hd1.jpg) 0 0 no-repeat;}
#doc1 .bd-wrap{height:57px; background:#4cace4 0 0 repeat-x;}
#hd{background:#FFF url(hd_bg.png) 0 0 repeat-x;}
h1,.fl-pop,.google-play:hover,.net-app:hover,.google-play:active,.net-app:active,.wandou-app:hover,
.wandou-app:active,.qihu-app:hover,.qihu-app:active,.btn,.dl-btn:hover,.dl-btn:active,.dl-btn,#updates p{
    background-image:url(images/btn.png);
}
h1{background-position:-996px -1487px;}
#updates p{background-position:-1960px -20px;background-repeat:no-repeat;}
/* ==下载按钮图片定位== */
.dl-btn{background-position:-908px 0px;}
.dl-btn:hover{background-position:-908px -91px;}
.dl-btn:active{background-position:-908px -181px;}
.btn-win{background-position:0 0;}
.btn-win:hover{background-position:0 -80px;}
.btn-win:active{background-position:0 -160px;}
.btn-android{background-position:-235px 0;}
.btn-android:hover{background-position:-235px -80px;}
.btn-android:active{background-position:-235px -160px;}
.btn-iphone{background-position:-461px 0;}
.btn-iphone:hover{background-position:-461px -80px;}
.btn-iphone:active{background-position:-461px -160px;}
.btn-ipad{background-position:-1648px 0;}
.btn-ipad:hover{background-position:-1648px -80px;}
.btn-ipad:active{background-position:-1648px -160px;}
.btn-web{background-position:-684px -1px;}
.btn-web:hover{background-position:-684px -81px;}
.btn-web:active{background-position:-684px -161px;}
.dl-alter{background-position:-1188px -2px;}
.dl-alter:hover{background-position:-1188px -82px;}
.dl-alter:active{background-position:-1188px -162px;}
.dl-netease{background-position:-1420px -4px;}
.dl-netease:hover{background-position:-1420px -84px;}
.dl-netease:active{background-position:-1420px -164px;}

.btn-wandj{background-position:-1190px -236px;}
.btn-wandj:hover{background-position:-1190px -315px;}
.btn-wandj:active{background-position:-1190px -387px;}

.fl-pop{background-position:-502px -373px;}
.google-play:hover{background-position:-859px -376px;}
.google-play:active{background-position:-858px -418px;}
.net-app:hover{background-position: -687px -375px;}
.net-app:active{background-position:-687px -418px;}
.qihu-app:hover{background-position:-685px -473px;}
.qihu-app:active{background-position:-686px -517px;}
.wandou-app:hover{background-position:-853px -473px;}
.wandou-app:active{background-position:-853px -517px;}

.btn-web-chrome{background-position:-1648px -236px;}
.btn-web-chrome:hover{background-position:-1648px -316px;}
.btn-web-chrome:active{background-position:-1648px -396px;}
/* 隐藏文字 */
h1 a,#hd p,#doc2 #hd .bd-wrap a,.multi-plat a,h2,#doc1 .btn,#doc2 .btn,.fl-pop a,.multi-op a,.play-video{font-size:0;line-height:0;overflow:hidden;zoom:1;-webkit-text-size-adjust:none;}
#doc2 #hd .bd-wrap .multi-plat a{line-height:30px;*line-height:0;}
/* IE67 */
.dl-item .dl-now,.dl-item .dl-alte,h1,.nav,.login,.ft dl,.dl-item dl,#awards li{*display:inline;*zoom:1;}
/* 播放页面 */
.video-page #hd{margin-bottom:0;}
.video-page .ft-wrap{margin-top:0;}
/*chrome滚动条样式*/

/*公共账号页面*/
#doc3 .bd-wrap{background:url(images/public_bg.png) repeat-x;}
#doc3 .bd{
    background:url(_blank);
    height:339px;
}
#doc3 #bd{
    font-family:'微软雅黑';
    height:800px;
}
#doc3 .publicarea,#doc3 .guide{float:left;}
#doc3 .publicarea{width:670px;}
#doc3 .guide{width:270px;margin-left:20px;}
#doc3 .topbar{background:#eef6fd; height:30px;border-left:3px solid #4dc827;padding-left:10px;font-size:16px;color:#4a4a4a;line-height:30px;}

#doc3 .account{
    float:left;
    width:310px;
    margin:20px 0 40px 10px;
}

#doc3 .account h3{margin:10px 0;background-color:transparent;font-size:20px;line-height:30px;font-weight:500;text-indent:0;color:#242424;}
#doc3 .account p{font-size:14px;color:#7d7d7d;}

#doc3 .guide p{
    font-size:14px;
    line-height:20px;
    color:#4b4a4a;
    margin-top:20px;
}
#doc3 .guide span{
    font-size:18px;
    color:#2b92d9;
}

#doc3 .guide .mail{
    display:block;
    background:#4aaff5;
    width:220px;
    height:32px;
    line-height:32px;
    border-radius:5px;
    color:#ffffff;
    font-size:18px;
    text-align:center;
    margin-top:10px;
}

::-webkit-scrollbar{height:8px;width:8px;background:rgba(222,222,222,0.5);transition:all 0.3s ease-in-out;border-radius:5px}
::-webkit-scrollbar-button{display:none}
::-webkit-scrollbar-track{background-color:#fff}
::-webkit-scrollbar-track-piece{background:#fff}
::-webkit-scrollbar-thumb{width:8px;min-height:15px;background:rgba(0,0,0,0.3);transition:all 0.3s ease-in-out;border-radius:5px}
::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,0.6)}
::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,0.8)}

.invite-dialog {
    background: none repeat scroll 0 0 #009AE2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px rgba(0, 154, 226, 0.5);
    display: none;
    padding: 2px;
    position: fixed;
    width: 500px;
    z-index: 99997;
}
.invite-dialog .inner {
    background:#fff;
    border:1px solid #148fd4;
}

.invite-dialog .invite-hd {
    position:relative;
    height:30px;
    padding:0 15px;
    line-height:30px;
    border-bottom:1px solid #009ae2;
    background:#fff;
    box-shadow:0px 1px 0 #e5f5fc;
    background:-webkit-linear-gradient(top, #fff, #f5f5f5);
    background:-moz-linear-gradient(top, #fff, #f5f5f5 100%);
}

.invite-dialog .invite-bd {
    border-top: 1px solid #E5F5FC;
    padding: 15px;
}

.invite-bd p {
    line-height: 160%;
    margin: 10px 0;
    color: #666666;
}

.invite-dialog .title {
    font-weight: bold;
}

.invite-dialog .close {
    background: url("images/sp-8.png") no-repeat scroll left -82px transparent;
    height: 0;
    opacity: 0.5;
    overflow: hidden;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
}


.invite-dialog .top-tip {
    background: none repeat scroll 0 0 #F5FFF1;
    border: 1px solid #A1D299;
    color: #345501;
    margin: -12px 0 20px;
    padding: 0 10px;
    position: relative;
}

.invite-dialog .dialog-cols:after{
    content:'.';
    height:0;
    display:block;
    visibility:hidden;
    clear:both;
}

.invite-dialog .dialog-col{
    width:49.9%;
    float:left;
    margin-right:-1px;
    border-left:1px solid #dedede;
}

.invite-dialog .dialog-col:first-child{
    border-right:1px solid #dedede;
    border-left:none;
}

.invite-dialog .btn {
    display: inline-block;
    padding: 7px 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-family: "Microsoft YaHei","Microsoft JhengHei", STHeiti, sans-serif;
    cursor: pointer;
    color: #3A3A3A;
    background: white;
    border: 1px solid #D2D2D2;
    text-shadow: 1px 1px 0 white;
    border-radius: 2px;
    box-shadow: 1px 1px 0 whiteSmoke;
    background: -webkit-linear-gradient(top, white, whiteSmoke);
    background: -moz-linear-gradient(top, white, whiteSmoke 100%);
}

.invite-dialog .btn:hover {
    color: #2A2A2A;
    border-color: #999;
    background: #F2F2F2;
    box-shadow: 1px 1px 2px #D5D5D5;
    background: -webkit-linear-gradient(top, white, #F2F2F2);
    background: -moz-linear-gradient(top, white, #F2F2F2 100%);
}

.invite-dialog .blue-btn:hover {
    color: white;
    background: #009AE2;
    border-color: #148FD4;
    background: -webkit-linear-gradient(top, #00A3E5, #008EDD);
    background: -moz-linear-gradient(top, #00A3E5, #008EDD 100%);
}

.invite-dialog .blue-btn {
    color: white;
    background: #29A7E5;
    border-color: #148FD4;
    text-shadow: 1px 1px 0 #148FD4;
    background: -webkit-linear-gradient(top, #32ADE8, #249FE3);
    background: -moz-linear-gradient(top, #32ADE8, #249FE3 100%);
}

.invite-dialog .invited-reg-btn {
    display: block;
    margin: 20px auto;
    width: 140px;
}

.invite-dialog .big-btn {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}