<!-- responsive -->
<div id="responsive" class="modal fade" tabindex="-1" data-backdrop="static" data-width="400" data-draggable="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Responsive</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal" role="form" method="post" id="fm">
                    <div class="form-group">
                        <label class="col-md-2 control-label required">类型</label>
                        <div class="col-md-4">
                            <span class="form-group-item">
                                <input type="radio" id="IsMenu" name="FunctionType" value="1" style="vertical-align: middle; margin: auto" />
                                <label for="IsMenu" style="vertical-align: middle;">菜单项</label>
                                &nbsp;&nbsp;
                            </span>
                            <span class="form-group-item">
                                <input type="radio" id="IsModule" name="FunctionType" value="2" style="vertical-align: middle; margin: auto" />
                                <label for="IsModule" style="vertical-align: middle;">系统模块</label>
                                &nbsp;&nbsp;
                            </span>
                            <span class="form-group-item">
                                <input type="radio" id="IsFunction" name="FunctionType" value="3" style="vertical-align: middle; margin: auto;" />
                                <label for="IsFunction" style="vertical-align: middle;">页面功能</label>
                                &nbsp;&nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label required">模块名称</label>
                        <div class="col-md-4">
                            <input name="Name" class="form-control required" type="text" id="Name" style="width: 90%" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label required">模块编号</label>
                        <div class="col-md-4">
                            <input name="ControlID" class="form-control required" type="text" style="width: 90%" id="ControlID" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">上级模块</label>
                        <div class="col-md-4">
                            <input name="PID" class="form-control required" type="text" id="PID" style="width: 344px;" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">菜单图标</label>
                        <div class="col-md-10">
                            @* <div class="input-group">
                                <span class="input-group-addon"><i id="iconSample" class="iconmoon-desktop" style="font-size: 20px; vertical-align: middle"></i></span>
                                <span class="input-group-addon">图标类名</span>
                                <input id="ImageIndex" name="ImageIndex" class="form-control" value="iconmoon-desktop" />

                                <button type="button" class="input-group-btn" onclick="chooseIcon();">选择图标</button>

                            </div>*@
                            <div class="input-group">
                                <div class="input-icon">
                                    <i class="fa fa-lock fa-fw"></i>
                                    <input id="newpassword" class="form-control" type="text" name="password" placeholder="password">
                                </div>
                                <span class="input-group-btn">
                                    <button id="genpassword" class="btn btn-success" type="button"><i class="fa fa-arrow-left fa-fw"></i>Random</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">插件地址</label>
                        <div class="col-md-10">
                            <input name="Path" class="form-control" type="text" id="Path" style="width: 90%" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">显示顺序</label>
                        <div class="col-md-10">
                            <input name="Sort" type="text" id="Sort" class="form-control required" style="width: 90%" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">授权角色</label>
                        <div class="col-md-10">
                            <input name="RoleIds" class="form-control" type="text" id="RoleIds" style="width: 344px" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label required">选项</label>
                        <div class="col-md-10">
                            <span class="form-group-item">
                                <input type="checkbox" id="IsEnabledCheck" checked="checked" />
                                <label for="IsEnabledCheck" style="vertical-align: middle;">有效</label>
                            </span>
                            <span class="form-group-item">
                                <input type="checkbox" id="AllowEditCheck" checked="checked" />

                                <label for="AllowEditCheck" style="vertical-align: middle;">允许编辑</label>
                            </span>
                            <span class="form-group-item">
                                <input type="checkbox" id="AllowDeleteCheck" checked="checked" />
                                <label for="AllowDeleteCheck" style="vertical-align: middle;">允许删除</label>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" id="ID" name="ID" value="" />
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn blue" onclick="SysFunction.Save();">保存</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>

        </div>
    </div>
</div>
<!-- stackable -->

<div id="iconChoose" style="width: 800px; height: 400px; display: none; padding-top: 5px">

    <div class="span4">
        <span class="icon-fixed-width"></span>
        icon-music

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-search

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-envelope-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-heart

    </div>

    <div class="span4">
        ..3333333333
        <i class="icon-fixed-width"></i>
        icon-star

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-star-empty

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-user

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-film

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-th-large

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-th

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-th-list

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-ok

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-remove

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-zoom-in

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-zoom-out

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-off

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-signal

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-cog

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-trash

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-home

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-file-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-time

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-road

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-download-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-download

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-upload

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-inbox

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-play-circle

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-repeat

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-refresh

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-list-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-lock

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-flag

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-headphones

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-volume-off

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-volume-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-volume-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-qrcode

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-barcode

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-tag

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-tags

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-book

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bookmark

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-print

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-camera

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-font

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bold

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-italic

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-text-height

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-text-width

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-align-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-align-center

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-align-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-align-justify

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-list

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-indent-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-indent-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-facetime-video

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-picture

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-pencil

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-map-marker

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-adjust

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-tint

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-edit

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-share

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-check

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-move

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-step-backward

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-fast-backward

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-backward

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-play

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-pause

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-stop

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-forward

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-fast-forward

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-step-forward

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-eject

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-chevron-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-chevron-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-plus-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-minus-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-remove-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-ok-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-question-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-info-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-screenshot

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-remove-circle

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-ok-circle

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-ban-circle

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-arrow-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-arrow-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-arrow-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-arrow-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-share-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-resize-full

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-resize-small

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-plus

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-minus

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-asterisk

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-exclamation-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-gift

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-leaf

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-fire

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-eye-open

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-eye-close

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-warning-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-plane

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-calendar

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-random

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-comment

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-magnet

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-chevron-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-chevron-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-retweet

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-shopping-cart

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-folder-close

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-folder-open

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-resize-vertical

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-resize-horizontal

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bar-chart

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-twitter-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-facebook-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-camera-retro

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-key

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-cogs

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-comments

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-thumbs-up-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-thumbs-down-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-star-half

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-heart-empty

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-signout

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-linkedin-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-pushpin

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-external-link

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-signin

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-trophy

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-github-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-upload-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-lemon

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-phone

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-check-empty

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bookmark-empty

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-phone-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-twitter

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-facebook

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-github

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-unlock

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-credit-card

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-rss

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-hdd

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bullhorn

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bell

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-certificate

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-hand-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-hand-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-hand-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-hand-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-circle-arrow-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-circle-arrow-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-circle-arrow-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-circle-arrow-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-globe

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-wrench

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-tasks

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-filter

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-briefcase

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-fullscreen

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-group

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-link

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-cloud

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-beaker

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-cut

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-copy

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-paper-clip

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-save

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sign-blank

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-reorder

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-list-ul

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-list-ol

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-strikethrough

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-underline

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-table

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-magic

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-truck

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-pinterest

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-pinterest-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-google-plus-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-google-plus

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-money

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-caret-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-caret-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-caret-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-caret-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-columns

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-envelope

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-linkedin

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-undo

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-legal

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-dashboard

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-comment-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-comments-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bolt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sitemap

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-umbrella

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-paste

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-lightbulb

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-exchange

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-cloud-download

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-cloud-upload

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-user-md

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-stethoscope

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-suitcase

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bell-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-coffee

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-food

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-file-text-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-building

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-hospital

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-ambulance

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-medkit

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-fighter-jet

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-beer

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-h-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-plus-sign-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-double-angle-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-double-angle-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-double-angle-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-double-angle-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-angle-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-angle-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-angle-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-angle-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-desktop

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-laptop

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-tablet

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-mobile-phone

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-circle-blank

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-quote-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-quote-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-spinner

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-circle

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-reply

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-github-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-folder-close-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-folder-open-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-expand-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-collapse-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-smile

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-frown

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-meh

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-gamepad

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-keyboard

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-flag-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-flag-checkered

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-terminal

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-code

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-reply-all

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-mail-reply-all

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-star-half-empty

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-location-arrow

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-crop

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-code-fork

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-unlink

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-question

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-info

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-exclamation

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-superscript

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-subscript

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-eraser

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-puzzle-piece

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-microphone

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-microphone-off

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-shield

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-calendar-empty

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-fire-extinguisher

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-rocket

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-maxcdn

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-chevron-sign-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-chevron-sign-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-chevron-sign-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-chevron-sign-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-html5

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-css3

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-anchor

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-unlock-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bullseye

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-ellipsis-horizontal

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-ellipsis-vertical

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-rss-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-play-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-ticket

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-minus-sign-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-check-minus

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-level-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-level-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-check-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-edit-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-external-link-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-share-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-compass

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-collapse

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-collapse-top

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-expand

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-eur

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-gbp

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-usd

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-inr

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-jpy

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-cny

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-krw

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-btc

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-file

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-file-text

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort-by-alphabet

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort-by-alphabet-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort-by-attributes

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort-by-attributes-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort-by-order

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sort-by-order-alt

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-thumbs-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-thumbs-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-youtube-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-youtube

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-xing

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-xing-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-youtube-play

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-dropbox

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-stackexchange

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-instagram

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-flickr

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-adn

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bitbucket

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bitbucket-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-tumblr

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-tumblr-sign

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-long-arrow-down

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-long-arrow-up

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-long-arrow-left

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-long-arrow-right

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-apple

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-windows

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-android

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-linux

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-dribbble

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-skype

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-foursquare

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-trello

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-female

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-male

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-gittip

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-sun

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-moon

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-archive

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-bug

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-vk

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-weibo

    </div>

    <div class="span4">
        <i class="icon-fixed-width"></i>
        icon-renren

    </div>

</div>
