@using System.Web.Optimization
@{
    ViewBag.Title = "系统模块";
}

@section Header{
    <link href="~/Content/Plug/Plug.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/Scripts/zTree-Check-1.0.0/jquery.zTreeCheck.css" rel="stylesheet" />
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/global/plugins/icheck/skins/all.css" rel="stylesheet" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <style type="text/css">
        .dg-panel {
            padding-bottom: 40px;
        }
    </style>
}
@section breadcrumb{
    <li>系统模块</li>}
<div>
    <div id="div-searchctr-wrap" style="padding-bottom: 10px;">
        <a href="#" class="btn blue btn-sm" onclick="SysFunction.Add();">
            <i class="fa fa-plus"></i>
            <span class="hidden-480">
                添加
            </span>
        </a>
        <a href="#" class="btn blue btn-sm" onclick="SysFunction.Edit();">
            <i class="fa fa-pencil"></i>
            <span class="hidden-480">
                修改
            </span>
        </a>
        <a href="#" class="btn blue btn-sm" onclick="ccccccc">
            <i class="fa fa-minus"></i>
            <span class="hidden-480">
                删除
            </span>
        </a>
        <a href="#" class="btn blue btn-sm" onclick="SysFunction.reloadDataGrid();">
            <i class="fa fa-refresh"></i>
            <span class="hidden-480">
                刷新
            </span>
        </a>
    </div>
    <div class="dg-panel">
        <div id="dgMain">
        </div>
    </div>
</div>

<div id="dlgsContainer">

    @*<div id="mm" class="easyui-menu" style="width:120px;">
            <div onclick="Add()" data-options="iconCls:'icon-plus bigger-130'">新增</div>
            <div onclick="Edit()" data-options="iconCls:'icon-pencil bigger-130'">编辑</div>
            <div onclick="Delete()" data-options="iconCls:'icon-minus bigger-130'">删除</div>
            <div class="menu-sep"></div>
            <div onclick="reloadDataGrid()" data-options="iconCls:'icon-refresh bigger-130'">刷新</div>
        </div>*@
    @Html.Partial("Create")
</div>
@section Scripts{
    <script src="~/BackAssets/jquery-easyui-1.4/easyloader.js"></script>
    <script src="~/Scripts/bootstrap-modal.extend.js"></script>
    <script src="~/assets/global/plugins/zTree/js/jquery.ztree.core-3.5.min.js"></script>
    <script src="~/assets/global/plugins/zTree/js/jquery.ztree.excheck-3.5.min.js"></script>
    <script src="~/Scripts/zTree-Check-1.0.0/jquery.zTreeCheck.src.js"></script>
    <script src="~/Scripts/jQuery.validVal/js/jquery.validVal.js"></script>
    <link href="~/Content/EasyUI.Custom.css" rel="stylesheet" />
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/icheck/icheck.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="~/assets/admin/pages/scripts/form-icheck.js"></script>
    <script src="~/Scripts/JS/Plug.js"></script>
    <script type="text/javascript">
        //初始化程序
        SysFunction.init();
    </script>
}