@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
}
<!--=== Breadcrumbs ===-->
<div class="row-fluid breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">服务</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a> <span class="divider">/</span></li>
            <li class="active">服务</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <!-- Our Services -->
        <div class="row-fluid">
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p><br />

            <div class="row-fluid servive-block">
                <div class="span4">
                    <h4>Lorem sequat ipsum de</h4>
                    <p><i class="icon-bell"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                <div class="span4">
                    <h4>Vivamus imperdiet gravi</h4>
                    <p><i class="icon-bullhorn"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                <div class="span4">
                    <h4>Donec idslacs elit nomi</h4>
                    <p><i class="icon-lightbulb"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
            </div><!--/row-fluid-->

            <div class="row-fluid servive-block">
                <div class="span4">
                    <h4>Lorem sequat ipsum de</h4>
                    <p><i class="icon-thumbs-up"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                <div class="span4">
                    <h4>Vivamus imperdiet gravi</h4>
                    <p><i class=" icon-refresh"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
                <div class="span4">
                    <h4>Donec idslacs elit nomi</h4>
                    <p><i class="icon-volume-up"></i></p>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
                </div>
            </div><!--/row-fluid-->
        </div><!--/row-fluid-->
        <!--//End Our Services -->
    </div><!--/row-fluid-->
    <!-- Tabs and Carousel-->
    <div class="row-fluid margin-bottom-10">
        <!-- Accardion and Posts -->
        <div class="span7">
            <div class="headline"><h3>Unify Accardion</h3></div>
            <!-- Accardion -->
            <div class="accordion acc-home" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Anim pariatur cliche reprehenderit
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                        <div class="accordion-inner">
                            <p><img class="lft-img-margin pull-left img-width-200" src="~/assets/img/work/work1.jpg" alt="" /> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                </div><!--/accordion-group-->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Nihil anim keffiyeh helvetica
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!--/accordion-group-->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            Brunch 3 wolf moon tempor
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!--/accordion-group-->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            Labore wes anderson cred
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div><!--/accordion-group-->
            </div><!--/accardion-->
        </div><!--/span7-->
        <!-- Carousel -->
        <div class="span5">
            <div class="headline"><h3>UNIFY Carousel</h3></div>
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/assets/img/carousel/5.jpg" alt="" />
                        <div class="carousel-caption">
                            <h4>First Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/assets/img/carousel/4.jpg" alt="" />
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/assets/img/carousel/3.jpg" alt="" />
                        <div class="carousel-caption">
                            <h4>Third Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control"><i class="icon-angle-left"></i></a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control"><i class="icon-angle-right"></i></a>
                </div>
            </div>
        </div><!--/span5-->
    </div><!--/row-fluid-->
    <!-- //End Tabs and Carousel -->
    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline">
            <h3>我们的客户</h3>
        </div>
        <ul class="slides">
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/hp_grey.png" alt="" />
                    <img src="~/assets/img/clients/hp.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/igneus_grey.png" alt="" />
                    <img src="~/assets/img/clients/igneus.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/vadafone_grey.png" alt="" />
                    <img src="~/assets/img/clients/vadafone.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/walmart_grey.png" alt="" />
                    <img src="~/assets/img/clients/walmart.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/shell_grey.png" alt="" />
                    <img src="~/assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/natural_grey.png" alt="" />
                    <img src="~/assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/aztec_grey.png" alt="" />
                    <img src="~/assets/img/clients/aztec.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="~/assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/cisco_grey.png" alt="" />
                    <img src="~/assets/img/clients/cisco.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/everyday_grey.png" alt="" />
                    <img src="~/assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/cocacola_grey.png" alt="" />
                    <img src="~/assets/img/clients/cocacola.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="~/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/shell_grey.png" alt="" />
                    <img src="~/assets/img/clients/shell.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/natural_grey.png" alt="" />
                    <img src="~/assets/img/clients/natural.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/gamescast_grey.png" alt="" />
                    <img src="~/assets/img/clients/gamescast.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/everyday_grey.png" alt="" />
                    <img src="~/assets/img/clients/everyday.png" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/assets/img/clients/spinworkx_grey.png" alt="" />
                    <img src="~/assets/img/clients/spinworkx.png" class="color-img" alt="" />
                </a>
            </li>
        </ul>
    </div>
    <!--/flexslider-->
    <!-- //End Our Clients -->

</div><!--/container-->
<!--=== End Content Part ===-->
@section scripts{
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>

    <!-- JS Page Level -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initSliders();
        });
    </script>
}
