@{
    ViewBag.Title = "登录";
}    <!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">登录</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a> <span class="divider">/</span></li>
            <li class="active">登录</li>
        </ul>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <form class="log-page" method="POST">
            <h3>登录到你的账户</h3>
            <input class="input-xlarge" type="hidden" name="Url" value="@ViewBag.Url" />
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input class="input-xlarge" name="Name" type="text" placeholder="用户名" />
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input class="input-xlarge" type="password" name="Password" placeholder="密码" />
            </div>
            <div class="controls form-inline">
                <label class="checkbox"><input type="checkbox" name="IsRemembered" />记住我</label>
                <button class="btn-u pull-right" type="submit">登录</button>
            </div>
            <hr />
            <p><h6>未注册？</h6>只需20s，点击 <a href="@Url.Action("Register", "Home")" class="color-green"> 这里 </a>注册新的账号 </p>       
            <p><h6>忘记密码？</h6>不用担心，点击 <a class="color-green" href="#">这里 </a>重设密码</p>
        </form>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->