@{
    ViewBag.Title = "Blank";
    Layout = "~/Areas/Back/Views/Shared/_BackLayout.cshtml";
}

<h2>Blank</h2>

<button onclick="showMask()">测试遮罩层</button>

@section scripts
{
    <script type="text/javascript">

        function showMask() {
            $.jMask("save", "保存中，请稍后").show();

            setTimeout(hideMask, 2000);
        }


        function hideMask() {
            //     alert("保存成功");

                  $.jMask("save").hide();
        }
    </script>
}